body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.link-1{
    text-decoration: none;
    color: white;
    background-color: #f04628d7;
    padding: 7px 21px;
    border-radius: 5px;
}
.sec-1{
    display: flex;
    margin-top: 5%;
}
.div-1{
    padding-left: 10%;
}
.div-1 img{
    width: 50%;
    padding-left: 5%;
}
.big-head1{
    font-size: 50px;
    padding-left: 10px;
    border-left: 3px solid rgba(255, 99, 71, 0.89);
}
.big-head2{
    font-size: 40px;
    text-align: center;
}
.triple-flex{
    display: flex;
    
}
.sec-2{
    margin-right: 10%;
    margin-left: 10%;
}
.triple-div1{
    background-color: rgba(245, 222, 179, 0.541);
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    margin-left: 15px;
}
.triple-div2{
    background-color: #ffc0cbd3;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    margin-left: 15px;
}
.triple-div3{
    background-color: #eee8aa8e;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    margin-left: 15px;
}