body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.button1{
    text-decoration: none;
    color: white;
    background-color: #f04628d7;
    padding: 7px 21px;
    border-radius: 5px;
}
.sec-1{
    display: flex;
    margin-top: 5%;
    padding-left: 12%;
}
#stay-focus{
    width: 700px;
}
#first-img{
    padding-left: 15%;
}
.half-width img{
    width: 60%;
    padding-left: 10%;
}
.big-head1{
    font-size: 50px;
    padding-left: 10px;
    border-left: 3px solid #ff6347e3;
}
.big-head2{
    font-size: 40px;
    text-align: center;
}
.triple-flex{
    display: flex;
    
}
.sec-2{
    margin-right: 10%;
    margin-left: 10%;
}
.triple-div1{
    padding: 30px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25px;
}
.triple-div1 img{
    width: 40%;
}
#triple-div-id1{
    background-color: #a4c6d675;
}
#triple-div-id2{
    background-color: #ffc0cb71;
}
#triple-div-id3{
    background-color: #c7c16d42;
}
.sec-3{
    display: flex;
    padding-top: 70px;
}
.half-width{
    width: 50%;
}
